html
body {
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  background-color: lightblue;
  color: #f5efef;
  font-size: 20px;
  overflow-x: hidden;
  background-image: no-repeat;
  background-image: cover;
  scroll-behavior: smooth;
}

img {
  height: 40vh;
  width: auto;
  border-radius: 50%;
  background-image: no-repeat;
  background-image: cover;
}




.dropdown {
  position: relative;
}


.demetri{
  display: flex;
  align-items: center;
  justify-content: center;

}
.App{
  
  background-image: no-repeat;
  background-image: cover;
}

h1  {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: white;
  font-weight: 700;
  padding-top: -50px;
  
  
}
h2  {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: white;
  font-weight: 700;
  margin-top: -20px;
}
.wrapper .sidebar{
  background-color: rgb(39, 116, 141);
  position: fixed;
  top:0;
  left: 0;
  width: 245px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;

}
.wrapper .sidebar .sideprofile{
 margin-bottom: 30px;
 text-align: center;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
}

.wrapper .sidebar .sideprofile h3{
  color: #ffffff;
  margin: 10px 0 5px;
}
.wrapper .sidebar .sideprofile p{
  color: #e7e6e6;
  font-size: 16px;
  
}
.wrapper .sidebar .sideprofile a{
  color: #ffffff;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.wrapper .sidebar ul li a{
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid blue;
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
}



.content {
  /* background-color: lightblue; */
  margin-left: 225px;
  padding: 20px;
}
.fullbody {
  background: url('https://static.independent.co.uk/s3fs-public/thumbnails/image/2021/06/02/20/istock-833264986.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -60px;
  margin-right: -20px;
  /* margin-bottom: 100px; */
}

.container {
  background-color: lightblue;
  color: black;
 display: flex;
 flex-wrap: wrap;
  flex-direction: row;
  
  margin: 5px ;
}

.container p {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 flex-wrap: wrap;
 margin: 5px;
 
}
.skill-icon {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 0;
  display: flex;
  flex-direction: row;
  margin: 10px;
  
}
.skill-card-card-border{
  display: flex;
  flex-direction: row;
 
}
/* .skill-icon .skill-card-card-border{
  display: flex;
  flex-direction: row;
  
} */
.container .skill-card-card-border .skill-icon{
display: flex;
flex-direction: row;
}
.pro{
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 0;
  display: flex;
  flex-direction: row;
  margin: 10px;
  margin-left: 20px;

}
.myprojects{
  display: flex;
  flex-direction: column;
}
/* .gitlinks{
  display: flex;
  justify-content: center;
} */


.gitlinks {
  display: flex;
  justify-content: center;
}
.contactme{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.project-details {
  display: flex;
  align-items: center;
}

.project-des {
  margin-left: 10px;
}
.myprojects a{
  display: flex;
  justify-content: flex-start;
 
  flex-direction: row;
}