@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html
body {
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  background-color: lightblue;
  color: #f5efef;
  font-size: 20px;
  overflow-x: hidden;
  background-image: no-repeat;
  background-image: cover;
  scroll-behavior: smooth;
}
/* button{
  width: 10px;
  height: 10px;
} */
img {
  height: 40vh;
  width: auto;
  border-radius: 50%;
  background-image: no-repeat;
  background-image: cover;
}




.dropdown {
  position: relative;
}


.demetri{
  display: flex;
  align-items: center;
  justify-content: center;

}
.App{
  
  background-image: no-repeat;
  background-image: cover;
}

h1  {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: white;
  font-weight: 700;
  padding-top: -50px;
  text-decoration: underline;
  font-family: 'Open Sans', sans-serif;
  
}
.fullbody h1{
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}
h2  {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: white;
  font-weight: 700;
  margin-top: -20px;
}
.wrapper .sidebar{
  background-color: rgb(39, 116, 141);
  position: fixed;
  top:0;
  left: 0;
  width: 245px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;

}
.wrapper .sidebar .sideprofile{
 margin-bottom: 30px;
 text-align: center;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
}

.wrapper .sidebar .sideprofile h3{
  color: #ffffff;
  margin: 10px 0 5px;
}
.wrapper .sidebar .sideprofile p{
  color: #e7e6e6;
  font-size: 16px;
  
}
.wrapper .sidebar .sideprofile a{
  color: #ffffff;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.wrapper .sidebar ul li a{
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid blue;
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
}



.content {
  /* background-color: lightblue; */
  margin-left: 225px;
  padding: 20px;
}
.fullbody {
  background: url('https://static.independent.co.uk/s3fs-public/thumbnails/image/2021/06/02/20/istock-833264986.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -60px;
  margin-right: -20px;
  /* margin-bottom: 100px; */
}

.container {
  background-color: lightblue;
  color: black;
 display: flex;
 flex-wrap: wrap;
  flex-direction: row;
  
  margin: 5px ;
}

.container p {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 flex-wrap: wrap;
 margin: 5px;
 font-family: 'Open Sans', sans-serif;
}
.skill-icon {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 0;
  display: flex;
  flex-direction: row;
  margin: 10px;
  
}
.skill-card-card-border{
  display: flex;
  flex-direction: row;
}
/* .skill-icon .skill-card-card-border{
  display: flex;
  flex-direction: row;
  
} */
.container .skill-card-card-border .skill-icon{
display: flex;
flex-direction: row;
}
.pro{
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 0;
  display: flex;
  flex-direction: row;
  margin: 10px;
  margin-left: 20px;

}
.myprojects{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}


/* .project-details .protitle .gitlinks a{
  display: flex;
  justify-content: space-around;
  margin: 25px;
  
} */
/* .gitlinks{
  display: flex;
  justify-content: center;
} */


.gitlinks {
  display: flex;
  justify-content: center;
  margin-left: 35px;
}

.myprojects .allprojectdivs{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: solid;
  
  
}
.project-details {
  display: flex;
  align-items: center;
}

.project-des {
  margin-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}

.myprojects a{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.myprojects .protitle p{
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 35px;
  text-decoration: underline;
}
/* .aboutd img {
  height: 40vh;
  width: auto;
  border-radius: 0%;
  background-image: no-repeat;
  background-image: cover;
} */
.aboutd{
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: beige; */
}


.logo {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 0;
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: center;
  /* margin-right: 10px; */
  
}
.logolink{
  display: flex;
  align-items: center;
  flex-direction: column;
  
  /* justify-content: center; */
}

.allcontactme .logolink{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
 
}


#contact{
  border: solid;
}

.chesslogo{
  height: 40vh;
  width: auto;
  border-radius: 0%;
  background-image: no-repeat;
  background-image: cover;
  margin: 50px;
  margin-bottom: 10px;

}

.contactme{
  display: flex;
  flex-direction: column;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  
 
}
.allcontactme{
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 50px; */ 
  
}


.container .contactme a{
  display: flex;
  justify-content: center;
  
 
}
#skills .container{
  margin-left: 35px;
}
/* Media Queries */

/* Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    flex-direction: row;
  }
}

/* Medium devices (tablets, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    flex-direction: row;
  }
}

/* Small devices (landscape phones, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    flex-direction: column;
  }
  
  .container p {
    margin: 0;
    margin-top: 10px;
    text-align: center;
  }
}

/* Extra small devices (portrait phones, less than 768px) */
@media (max-width: 767px) {
  body {
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
    background-color: lightblue;
    color: #f5efef;
    font-size: 10px;
    overflow-x: hidden;
    background-image: no-repeat;
    /* background-image: cover; */
    scroll-behavior: smooth;
    margin-top: 20px;
    width: 97%;
  }
  .container p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
}


  .wrapper .sidebar {
    /* position: relative; */
   display: none;

  }

  .content {
    margin-left: 0;
  }

  img{
      
      height: 30vh;
      width: auto;
      border-radius: 50%;
      background-image: no-repeat;
      background-image: cover;
  }

  #contact a{
    font-size: 20px
    
  }
  #contact{
    border: none;
  }
  
  .myprojects .protitle p {
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 35px;
    text-decoration: underline;
    font-family: 'Fira Sans', sans-serif;
}
.project-link .pro{
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 85px; */
}
.gitlinks  {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: 0px;
  /* margin-left: 100px; */
}
.project-link img .pro{
  display: flex;
  justify-content:center ;
  align-items: center;
}
  
  h1 {
    font-size: 30px;
    
  }

  h2 {
    font-size: 30px;
  }

  .project-details {
    display: block;
    align-items: center;

  }
  .container{
    display: flex;
    
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    flex-wrap: wrap;
  }
  
    /* .container .skill-card-card-border p .skill-icon{
      display: flex;
      
     
      flex-direction: column;
      flex-wrap: wrap;
    
  } */

}

/* iPhone 5/SE */
@media (max-width: 320px) {
  img {
    height: 150px;
    width: auto;
  }
  
  .container p {
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .container h3 {
    font-size: 20px;
  }
  
  .container span {
    font-size: 14px;
  }
  
  .container .title {
    font-size: 24px;
  }
  
  .wrapper .sidebar {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-bottom: 10px;
  }
  
  .content {
    margin-left: 0;
  }
  
  .dropdown {
    display: none;
  }
  
  .App {
    margin-top: -20px;
  }
  
  h1 {
    font-size: 30px;
  }
  
  h2 {
    font-size: 20px;
  }
}